




@media screen and (max-width: 1366px) {

.before {
    position: absolute!important;
    bottom:0;
    top: 94px;
    right: 0;
    height: 50px;
    left: 0;
    z-index: 1;
    background: linear-gradient(180deg, rgba(222, 217, 248, 0) 0%, rgba(222, 217, 248, 0) 32.25%, #DED9F8 79.65%);
}

    .advant-icon {
        margin: 0 30px 15px 0;
    }
    
    ul.appeal-is {
        width: 45%;
        margin: 0 0 10px 20px;
    }
    
    .form-bot-bl {
        position: relative;
        background: #5E50A2;
        border-radius: 10px;
        width: 100%;
        height: auto;
        padding: 60px 60px 60px 60px;
        bottom: 0;
        margin: -265px auto;
        z-index: 999999;
    }
    
    .container.is2 {
        max-width:100%;
    }
    
    
    }
    
    
@media screen and (max-width: 1200px) {

.bot-bl-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.post-right {
    width: 100%;
    text-align:left;
    margin: 0 auto;
}

.post-left {
    width: 100%;
    margin: 0 0 30px;
}

.contact-text {
    width: auto;
    margin: 0 0 10px;
}
    
    .hair-req-is {
        background: #DED9F8;
        border-radius: 10px;
        padding: 50px;
        width: 45%;
        margin: 0 10px 10px 0;
    }
    
    .container {
        max-width:100%;
    }   
    
    .buner-text-bl {
        width: 508px;
        padding: 20px 0 0 0;
    }
    
    .top-buner:before {
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        content: '';
        background: url(../images/is.webp)right top no-repeat;
        height: 100%;
        width: 100%;
        background-size: cover;
    }
    
    .buner-tit {
        font-family: 'Inter-Bold';
        color: #5E50A2;
        font-size: 30px;
        margin: 0 0 20px;
    }
    
    .buner-text-is {
        color: #212121;
        font-size: 14px;
        margin: 0 0 16px;
    }
    
    .buner-bot-tetx {
    
        font-size: 16px;
        margin: 0 0 55px;
    }
    
    .boot-but-bl {
        margin: 0 0 88px;
    }   
    
    }
    
    
@media screen and (max-width: 1024px) {

ul.privacy-list {
    margin: 0 0 20px;
}

h1.privacy-tit {
    font-size: 24px;
    line-height: 27px;
    color: #212121;
    font-family: 'Inter-Bold';
    margin: 45px 0 30px 0;
}

h3.privacy-tits {
    font-family: 'Inter-Bold';
    font-size: 16px;
    margin: 0 0 20px;
}

ul.privacy-list li {
    position: relative;
    font-size: 16px;
    line-height: 32px;
    padding: 0 0 0 25px;
}

.privacy-bl p {
    font-size: 16px;
    line-height: 25px;
}

h3.privacy-tits.is {
    margin: 20px 0 20px;
}

.privacy-bl {
    margin: 0 0 20px 0;
}



.rigin-bl {
    background: #F1F2F9;
    padding: 40px 10px 40px;
}

ul.list-is {
    margin: 0 0 30px 20px;
}

.list-writ {
    font-size: 20px;
    line-height: 30px;
    color: #5E50A2;
    font-family: 'Inter-SemiBold';
    margin: 0 0 50px;
}

.post-right-tit {
    font-size: 14px;
    line-height: 20px;
    color: #5E50A2;
    font-family: 'Inter-SemiBold';
    margin: 0 0 30px;
}

.crumbs-bl {
    margin: 50px 0 25px 0;
    color: #BDB6DD;
    font-size: 18px;
}

.post-time {
    font-family: 'Inter-SemiBold';
    color: #5E50A2;
    font-size: 14px;
    margin: 0 0 30px 0;
}

.container br {
    display: none;
}

.post-tit {
    font-size: 24px;
    font-family: 'Inter-Bold';
    margin: 0 0 30px;
    line-height: 30px;
}

.post-text {
    font-size: 16px;
    font-family: 'Inter-SemiBold';
    margin: 0 0 60px;
    line-height: 22px;
}

    .appeal-bl .container:before {
        display: none;
    }

    .appeal-bl .container {
        padding: 0 15px 80px 15px;
        position: relative;
    }

    h2.is {
    margin: 0 0 30px;
}
    
    .siti-tit {
        font-size: 16px;
        font-family: 'Inter-SemiBold';
        margin: 0 0 10px;
    }
    
    .addres-text {
        font-size: 16px;
        margin: 0 0 13px;
        font-family: 'Inter-Bold';
    }
    
    .phone {
        font-size: 16px;
        font-family: 'Inter-Bold';
        margin: 0 0 40px;
    }
    
    .soc-tit {
        font-size: 16px;
        font-family: 'Inter-Bold';
        margin: 40px 0 20px;
    }
    
    .contact-text {
        width: 25%;
    }

.map {
    width: 60%;
    position: relative;
}
    
    a.cont-but {
        background: #65C6A2;
        box-shadow: 2px 2px 8px rgb(101 198 162 / 80%);
        border-radius: 5px;
        font-size: 14px;
        color: #fff!important;
        font-family: 'Inter-SemiBold';
        padding: 20px 40px;
        cursor: pointer;
        width: auto;
        display: inline-block;
        margin: 0 0 40px;
        text-align: center;
    }
    
    .soc-bot a {
        margin: 5px;
    }
    
    .contact-bl {
        padding: 50px 0 0 0;
    }
    
    .sale-tit {
        font-size: 24px;
        font-family: 'Inter-Bold';
        margin: 0 0 20px;
    }
    
    .sale-img {
        display: none;
    }
    
    .sale-text-is {
        font-size: 14px;
        margin: 0 0 30px;
    }
    
    .sale-text-bl {
        width: auto;
    }
    
    .appeal-form {
        background: #5E50A2;
        border-radius: 10px;
        padding:20px;
        margin: 1px 0 30px;
    }
    
    .appeal-form-tit {
        font-family: 'Inter-Bold';
        font-size: 24px;
        color: #FFFFFF;
        margin: 0 0 30px;
    }
    .appeal-form-is {
        width: auto;
    }
    .appeal-form-text {
        width: 50%;
        display: none;
    }
    
    .appeal-text-bl {
        display: flex;
        justify-content: space-between;
        margin: 0;
        flex-wrap: wrap;
    }
    
    ul.appeal-is li:before {
       display:none;
    }
    
    ul.appeal-is {
        width: 100%;
        margin: 0 0 10px 0;
    }
    
    
    .sale-img {
        position: absolute;
        right: 0;
        top: -280px;
    }
    
    .sale-img img {
        width: 700px;
    }
    
    
    .hair-req-tit {
        font-size: 24px;
        font-family: 'Inter-Bold';
        margin: 0 0 15px;
    }
    
    .advant-is {
        display: block;
        align-items: center;
        margin: 0 0 30px;
        width: 45%;
    }
    
    .soc-bl {
        display: none;
    }
    
    a.phone-bl {
        display: none;
    }
    
    .search-select {
        display: none;
    }

.search-select.is2 {
    display: inline-block;
}
    
    .top-menu {
        display: none;
    }
    
    .burger {
        display: block;
    }
    
    .boot-but-bl {
        margin: 0 0 42px;
    }
    
    .img-bl {
        display: none;
    }
    
    .bot-num {
        font-size: 24px;
        color: #65C6A2;
        font-family: 'Inter-Bold';
        margin: 0 0 15px;
    }
    
    .bot-is-tit {
        font-family: 'Inter-Bold';
        font-size: 14px;
        color: #FFFFFF;
        margin: 0 0 14px;
    }
    
    .bot-text {
        font-size: 14px;
        line-height: inherit;
        color: #FFFFFF;
    }
    
      
    }

@media screen and (max-width: 992px) {

.advant-bl {
    margin: 440px 0 0;
}

    #toggle {
        display: block;
    }

.blogs-bl {
    margin: 50px 0 0 0;
}


.blogs-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 50px;
    flex-flow: column wrap;
}

.blogs-text-bl {
    width: 100%;
    order: 2;
}

.blogs-img {
    width: 100%;
    order: 1;
    margin: 0 0 20px;
}

.blogs-time {
    font-family: 'Inter-Regular';
    margin: 0 0 10px;
}

.blogs-tit {
    color: #212121;
    font-family: 'Inter-Bold';
    margin: 0 0 20px;
    font-size: 24px;
    line-height: 30px;
}

.blogs-text {
    width: 100%;
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 20px;
}

.blogs-is-time {
    font-size: 14px;
    line-height: 20px;
    color: #5E50A2;
    font-family: 'Inter-Regular';
    margin: 0 0 10px;
}

.blogs-is-tit {
    color: #212121;
    font-family: 'Inter-SemiBold';
    margin: 0 0 15px;
    font-size: 24px;
    line-height: 30px;
}

.blogs-is-text {
    color: #212121;
    margin: 0 0 15px;
    min-height:auto;
    font-size: 14px;
    line-height: 20px;
}

.blogs-is-name {
    font-size: 14px;
    line-height: 20px;
    color: #5E50A2;
    font-family: 'Inter-Regular';
    margin: 0 0 0;
}

.blogs-is {
    width:100%;
}

    .appeal-bl .container {
        padding: 0 15px 0 15px;
        position: relative;
    }

    .arrow-bl.is {
        margin: 17px 0 0 0px;
    }

.map {
    width: 70%;
    position: relative;
}

.contact-text {
    width: 25%;
}

a.phone {
    font-size: 16px;
    font-family: 'Inter-Bold';
    margin: 0 0 15px;
    display: inline-block;
    width: 100%;
}

    .abaut-bl {
    padding: 0 0 60px 0;
}
    
    .blog-bl {
        background: #DED9F8;
        padding: 40px 0 50px;
    }
    
    .text-tit {
        font-size: 24px;
        font-family: 'Inter-Bold';
        margin: 0 0 30px;
    }
    
    .text-is {
        font-size: 14px;
    }
    
    .contact-tit {
        font-size: 24px;
        font-family: 'Inter-Bold';
        margin: 0 0 15px;
    }
    
    .appeal-bl {
        padding: 40px 0 0 0;
        background: #DED9F8;
    }
    
    .mob-blog-wrap ul.slick-dots {
        display: flex!important;
        align-items: center;
        justify-content: flex-start;
        bottom: -38px;
        z-index: 0;
    }
    
    ul.appeal-is.is {
        display: none;
    }
    
    ul.appeal-is {
        max-height: 147px;
        overflow: hidden;
    }
    
    a.but-appeal-mob {
        color: #5E50A2;
        border-bottom: 1px solid;
        display: inline-block;
        margin: 0 0 40px;
    }
    
    a.but-appeal-mob:hover {
       border-bottom:none;
    }
    
    ul.appeal-is li {
        position: relative;
        margin: 0 0 30px;
        font-size: 14px;
    }
    
    .advant-slid {
        margin: 20px 0 10px;
    }
    
    .hair-req-bl {
        margin: 0 0 20px;
    }
    
    .acord-tit {
        font-size: 24px;
        font-family: 'Inter-Bold';
        margin: 0 0 20px;
    }
    
    .accordion-header {
        position: relative;
        font-size: 14px;
        color: #212121;
        cursor: pointer;
        font-family: 'Inter-SemiBold';
    }
    
    .accordion-header:before {
        position: absolute;
        right: 0;
        top: 0;
        content: '';
        background: url(../images/acord-close-m.svg)left top no-repeat;
        width: 18px;
        height: 18px;
    }
    
    .bot-menu-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .soc-bot {
        display: flex;
        justify-content: space-between;
        width: auto;
        margin: 0 0 20px;
    }
    
    .bot-menu-is nav {
        display:none;
        flex-wrap: wrap;
        font-family: 'Inter-SemiBold';
        justify-content: flex-start;
        width: 100%;
    }
    
    nav.mob {
        display: flex;
        justify-content: space-between;
        margin: 0 0 10px;
    }
    
    a.foot-phone.mob {
        display:inline-block;
        margin: 0 0 30px;
        font-size: 16px;
    }
    
    .bot-menu-is {
        width: 100%;
    }
    
    .bot-menu-is nav ul {
        margin: 0;
        font-size: 16px;
        color: #fff;
    }
    
    a.foot-phone {
        display: none;
    }
    
    a.sale-but {
        font-size: 14px;
        width: 100%;
        text-align: center;
        margin: 0 0 50px;
    }
    
    a.rev-bot-is {
        display: none;
    }
    
    .rev-bot {
        display: flex;
        justify-content: end;
        margin: -27px 0 0;
    }
    
    .hair-req-wrap.rev ul.slick-dots {
        display: flex!important;
        align-items: center;
        justify-content: flex-start;
        bottom: -46px;
        /* left: 640px; */
    }
    
    a.rev-bot-is.mob {
        display: block;
        position: relative;
        cursor: pointer;
    }
    
    a.rev-bot-is:before {
        position: absolute;
        left: 133px;
        top: 6px;
        background: url(../images/rev-but.svg)left top no-repeat;
        content: '';
        width: 14px;
        height: 14px;
    }
    
    a.rev-but {
        color: #5E50A2;
        font-family: 'Inter-SemiBold';
        font-size: 14px;
        display: inline-block;
        margin: 0 0 20px;
    }
    
    .hair-req-is {
        background: #DED9F8;
        border-radius: 10px;
        padding: 50px;
        width: 100%;
        margin: 10px 0;
    }
    
    .arrow-bl {
        display: flex;
        justify-content: center;
        margin: 0 0 0 425px;
    }
    
    .slid-bl:before {
        width: auto;
        height: auto;
    }
    
    .slid-bl:after {
        width: 0;
        height: 0;
        z-index: 9999;
    }
    
    .slid-img img{
      width: auto;
      height:auto;
    }
    
    .icon-bl {
        margin: 0px 0 445px;
    }
    
    .form-bot-bl {
        bottom: -128px;
    }
    
    .form-l {
        width: auto;
        margin: 0 0 40px;
    }
    
    .bot-tits {
        display: block;
        font-size: 24px;
        font-family: 'Inter-Bold';
        padding: 0 15px;
        margin: 0 0 30px;
    }
    
    .bot-tit {
        display: none;
    }
    
    .top-buner {
        margin: 0 0 50px;
    }
    
    .abaut-advant {
        display: flex;
        justify-content: space-between;
        margin: 0 0 50px;
        flex-wrap: wrap;
    }
    
    h2 {
        font-size: 24px;
    }
    
    .abaut-l {
        width: 100%;
        font-size: 14px;
        margin: 0 0 30px;
    }
    
    .abaut-r {
        width: 100%;
        font-size: 16px;
        color: #5E50A2;
    }   
    
    .abaut-advant-is {
        width: 100%;
        height: auto;
        background: #5E50A2;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0;
        flex-wrap: wrap;
    }
    
    .advant-num {
        font-size: 25px;
        line-height: 40px;
        color: #65C6A2;
        margin: 0px;
        font-family: 'Inter-Bold';
        width: 100%;
        text-align: center;
    }
    
    .num-text {
        font-size: 14px;
        line-height: 20px;
        color: #FFFFFF;
        font-family: 'Inter-Bold';
        text-align: center;
    }
    
    .top-buner:before {
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        content: '';
        background: url(../images/is-m.webp)right bottom no-repeat;
        height: 100%;
        width: 100%;
        background-size: contain;
    }
      
    }
    
    
/* Ipad*/ 
@media screen and (max-width: 768px) {

.abaut-text-bl:first-of-type{
    margin: 0 0 30px;
}

.slid-bl.responsives ul.slick-dots {
    display: flex!important;
    align-items: center;
    justify-content: center;
    bottom: -27px;
    z-index: 0;
}

.close {
    position: absolute;
    right: 15px;
    top: 10px;
    background: url(../images/close.svg)left top no-repeat;
    width: 40px;
    height: 40px;
    opacity: inherit;
}
.map {
    width: 770px;
    position: relative;
    display: none;
}
    
.map-mob {
    position: relative;
    display:block;
}

.map {
    width:auto;
    position: relative;
}

.contact-text {
    width:auto;
}
    
.rev-bl {
    padding: 10px;
}
    
.arrow-bl.is {
     display: flex;
}
    
    .blog-is {
        width:auto;
        margin: 10px;
    }
    
    .slid-tit-mob {
        display: block;
    }
    
    .slid-bl.responsives button.slick-prev.slick-arrow {
        display:block !important;
    
    }
    
    .slid-bl.responsives button.slick-next.slick-arrow {
        display: block!important;
    }
    
    .arrow-bl {
        display: none;
    }
    
    .slid-img {
        margin: 0 auto;
        width: auto;
        height:
        auto;
        text-align: center;
        padding: 0 10px;
    }
    
    .advant-icon {
        margin: 0 30px 0 0;
    }
    
    .advant-text-bl {
        width: auto;
    }
    
    .advant-tits {
        color: #5E50A2;
        font-size: 16px;
        margin: 0 0 13px;
    }
    
    .avant-text {
        font-size: 14px;
        width: auto;
    }
    
    .advant-tit {
        font-size: 24px;
        font-family: 'Inter-Bold';
        margin: 0 0 20px;
    }
    
    .modul-1 {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        overflow: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        z-index: 99999;
        display: none;
        padding: 30px 20px;
        background: #00000073;
    }

    .modal-is.is33 {
        width:auto;
    }
    
    .modal-is {
        position: relative;
        margin: 0 10px;
        width: auto;
        background: #fff;
        border-radius: 10px;
        padding: 60px 30px;
        z-index: 9999;
    }
    
    }
    
    
    /* Ipad mini*/ 
    @media screen and (max-width: 640px) {

    span.input__file-button-text {
        padding: 15px;
    }
    
    form.prise-form label {
        font-size: 14px;
        margin: 0 30px 20px 0;
        text-align: left;
        justify-content: flex-start;
        padding: 0;
    }
    
    form.prise-form fieldset button, legend {
        width: 100%;
        height: 50px;
        font-size: 14px;
        padding: 16px;
    }
    
    .input__file-button {
        margin: 0 0 15px;
        width: 268px;
    }
    
    input#application_input {
        width: 100%;
        height: 50px;
        font-size: 14px;
    }
    
    .top-buner:before {
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        content: '';
        background: url(../images/is-m.webp)right bottom no-repeat;
        height: 100%;
        width: 100%;
        background-size:contain;
    }
    
    .buner-tit {
        font-family: 'Inter-Bold';
        font-size: 24px;
        color: #212121;
        width: 50%;
    }
    
    .buner-text-is {
        color: #212121;
        font-size: 14px;
        margin: 0 0 16px;
        width: 50%;
    }
    
    .buner-bot-tetx {
    
        font-size: 16px;
        margin: 0 0 30px;
        width: 50%;
     }
    
     .boot-but-bl {
        margin: 0 0 42px;
        display: flex;
        flex-wrap: wrap;
    }
    
    .boot-but-bl a {
        background: #65C6A2;
        box-shadow: 2px 2px 8px rgb(101 198 162 / 80%);
        border-radius: 5px;
        padding: 17px 22px;
        margin: 0 10px 15px 0;
        font-size: 14px;
        width: 100%;
        text-align: center;
    }
    
    .top-buner {
        position: relative;
        width: 100%;
        background: #DED9F8;
        /* overflow: hidden; */
        margin: 0 0 50px;
        padding: 40px 0 1px;
    }
    
    .buner-text-bl {
        width: auto;
        padding: 20px 0 0 0;
    }
    
    
    
    }
    
/* Galaxy S8+*/ 
@media screen and (max-width: 480px) {

a.blog-but {
    display: flex;
    width: 112px;
}

ul.rigin-in li a:before {
    background: transparent;
}

ul.pagin-bl:after {
    right: 10%;
}

ul.pagin-bl:before {
    left: 10%;
}

ul.pagin-bl {
    width: auto;
}

    .bot-bl-wrap {
        display: none;
    }
    
    .form-bot-bl {
        bottom: -128px;
        width: 90%;
    }
    
    .bot-bl-wraps.responsive {
        display:block;
    }

.form-bot-bl {
    bottom: -128px;
    width: 90%;
}
        .post-right-img {
            margin: 0 0 10px;
        }
        .prev-arrows {
            background: url(../images/arrow-r.svg)right top no-repeat;
        }
        .next-arrows {
            background: url(../images/arrow-l.svg)right top no-repeat;
        }

.mob-blog-wrap.is.revs ul.slick-dots li {
    width: 8px;
    height: 8px;
    background: #DED9F8;
    border-radius: 100%;
    border: 5px solid transparent;
    margin: 0 10px 0 0;
}

.mob-blog-wrap.is.revs ul.slick-dots li.slick-active{
    width: 14px;
    height: 14px;
    background: #5E50A2;
}

.list-writ {
    font-size: 14px;
    line-height: 20px;
}

.block-name {
    font-size: 14px;
    line-height: 20px;
    color: #5E50A2;
    font-family: 'Inter-SemiBold';
}

.text-block {
    margin: 0 0 10px;
}

.post-right-tit-m {
    font-size: 14px;
    line-height: 20px;
    color: #5E50A2;
    margin: 0 0 30px;
}

ul.list-is li {
    list-style: decimal;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 15px;
}

.container.post {
    margin: 0 0 50px;
}

.post-right-img.is {
    display: block;
}

.post-right-tit.is {
    display: block;
}

.post-img-is-mob img {
    width: 100%;
    height: auto;
}

.blog-img img {
    width: 100%;
    height: auto;
}

.abaut-post-tit {
    display:block;
}

.blog-time {
    font-family: 'Inter-Regular';
}

.blog-tit {
    font-size: 24px;
    line-height: 30px;
    margin: 0 0 20px;
}

.post-text {
    font-size: 16px;
    line-height: 22px;
    color: #212121;
    margin: 0 0 20px;
}

.post-tit {
    font-size: 24px;
    line-height: 30px;
    color: #212121;
    margin: 0 0 20px;
}

.post-img {
    margin: 0 0 20px;
}

.post-left-tit {
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 20px;
}

.post-left-text {
    font-size: 14px;
    line-height: 20px;
}

.post-mob-img {
    display: block;
}

.post-right-tit {
    font-family: 'Inter-Regular';
    font-size: 14px;
    line-height: 20px;
}

.post-right-img {
    display: none;
}

.post-left {
    margin: 0;
}

.post-right-tit {
    display: none;
}

.post-right-text {
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 20px;
}

.post-img-is {
    display: none;
}

.post-img-is-mob {
    display: block;
    margin: 0 0 10px;
}


.text-blog.is {
    width: 100%;
}

        h2 {
       
            line-height: 32px;
        }
        .mob-blog-wrap ul.slick-dots {
            display: flex!important;
            align-items: center;
            justify-content: flex-start;
            bottom: -34px;
            z-index: 0;
        }
        .map-mob {
            position: relative;
            display: block;
            margin: 0 0 -8px 0;
        }

        .logo-bt {
            width: 36px !important;
        }

        .logo-text-bot {
            font-size: 32px;
            color: #fff;
            font-family: 'Inter-Bold';
        }

        .abaut-bl {
            padding: 0 0 10px 0;
        }

        .hair-req-wrap.rev ul.slick-dots {
            display: flex!important;
            align-items: center;
            justify-content: flex-start;
            bottom: -33px;
            /* left: 640px; */
        }

        .bot-menu-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 0 0px;
        }

        .advant-slid {
            margin: 50px 0 40px;
        }

        .search-select.is2 {
            font-size: 14px;
            position: relative;
            margin: 0 0 30px;
            font-family: 'Inter-Regular';
        }

        .search-select.is2:after {
            position: absolute;
            left: 126px;
            top: 7px;
            content: '';
            background: url(../images/arrow-bot.svg)left top no-repeat;
            /* background-size: cover; */
            width: 15.46px;
            height: 10.23px;
        }

        .arrow-bl.is {
            margin: 0 0px 0 0;
        }

        .hair-req-wrap.rev ul.slick-dots li {
            width: 8px;
            height: 8px;
            background: #DED9F8;
            border-radius: 100%;
            border: 5px solid transparent;
            margin: 0 5px;
        }

.accordion-text {
    margin: 20px 0 0;
    display: none;
    font-size: 18px;
    width: auto;
}
    
    .hair-req-tit-is {
        font-size: 16px;
        color: #5E50A2;
        margin: 0 0 5px;
        font-family: 'Inter-SemiBold';
    }
    
    .hair-req-is ul li {
        position: relative;
        margin: 0 0 20px;
        font-size: 14px;
    }
    
    
    a.cont-but {
        width: 100%;
    }
    
        .abaut-advant-is {
            height: 124px;
        }
    
        .accordion-text {
            font-size: 14px;
        }
    
        .form-radio {
            margin: 0 10px 10px 0;
            display: flex;
            flex-wrap: wrap;
        }
    
        form.prise-form fieldset div:first-of-type {
            display: flex;
            align-items: flex-start;
            margin: 0 0 20px;
        }
        .abaut-advant {
            display: flex;
            justify-content: space-between;
            margin: 0 0px 50px 0px;
            flex-wrap: wrap;
        }
    
        .abt-wrap {
            width: 47%;
            padding: 0 0px 0;
            margin: 0 0 30px;
        }
    
        .foot-bl {
            background: #5E50A2;
            padding: 50px 0 50px 0px;
        }
    
        .contact-bl {
            padding: 50px 0 0 0;
        }
    
        .boot-but-bl a {
            background: #65C6A2;
            box-shadow: 2px 2px 8px rgb(101 198 162 / 80%);
            border-radius: 5px;
            padding: 20px 22px;
            margin: 0 10px 15px 0;
            width: 100%;
            text-align: center;
        }
    
        .advant-icon {
            margin: 0 0px 10px 0;
        }
    
        .top-buner {
            position: relative;
            width: 100%;
            background: #DED9F8;
            margin: 0 0 50px;
        }
    
    .acord-bl {
        margin: 0 0 15px;
    }
    
    .acort-bot-bl {
        display: block;
        justify-content: space-between;
        font-size: 14px;
    }
    
    .acort-bot-bl a {
        border-bottom: 1px solid;
        margin: 0 0 20px 0;
        display: inline-block;
        color: #5E50A2;

    }
    
    .accordion-wrap {
        border-bottom: 1px solid rgba(33, 33, 33, 0.1);
        padding: 20px 0px 20px 0;
    }
    
    .appeal-form-tit br {
        display: none;
    }
    
    .appeal-form {
        background: #5E50A2;
        border-radius: 10px;
        padding: 32px 30px 45px 30px;
        margin: 1px 0 40px;
    }
    
    .hair-req-bl {
        margin: 50px 0 40px;
    }
    
    .acord-tit {
        font-size: 24px;
        font-family: 'Inter-Bold';
        margin: 0 0 10px;
    }
    
    .rev-bl {
        padding: 50px 0 10px 0;
    }
    
    .hair-req-tit {
        font-size: 24px;
        font-family: 'Inter-Bold';
        margin: 0 0 15px 0;
        width: 200px;
        line-height: 30px;
    }
    
    .hair-req-is ul li:before {
        position: absolute;
        left: -19px;
        top: 8px;
        content: '';
        background: #5E50A2;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        display:none;
    }
    
    .hair-req-is {
        background: #DED9F8;
        border-radius: 10px;
        padding: 30px 30px 50px 30px;
        width: 100%;
        margin: 10px 0;
    }
    
    .hair-req-icon {
        display: none;
    }
    
    .rev-text {
        font-size: 14px;
        margin: 0px 0 6px;
    }
    
    .accordion-header {
        position: relative;
        font-size: 14px;
        color: #212121;
        cursor: pointer;
    }
    
    .hair-req-tit-is.is {
        font-size: 16px;
        font-family: 'Inter-SemiBold';
        color: #000;
    }
    
    .prise-bl {
        position: relative;
        background: #DED9F8;
        padding: 40px 0 155px;
        overflow: hidden;
    }
    
    
    .abaut-text-bl {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 0 30px;
    }
    
    .buner-tit {
        font-family: 'Inter-Bold';
        font-size: 24px;
        color: #212121;
        width: 100%;
        line-height: 33px;
    }
    
    .tit-form {
        font-size: 16px;
        font-family: 'Inter-SemiBold';
        margin: 0 0 21px;
    }
    
    h2 {
        font-family: 'Inter-Bold';
        margin: 0 0 20px;
    }
    
    .buner-bot-tetx {
    
        font-size: 16px;
        margin: 0 0 30px;
        width: 70%;
    }
    
    .buner-text-is {
        color: #212121;
        font-size: 14px;
        margin: 0 0 25px;
        width: 70%;
    }
    
    .logo-text {
        font-family: Inter-Bold;
        font-size: 21px;
        color: #212121;
        line-height: 47px;
    }
    
    .logo-img {
        margin: 0 14px 0 0;
        width: 24px;
    }
    
    .burger {
      position: absolute;
      top: 12px;
      right: 15px;
      cursor: pointer;
      z-index: 12;
    }
    
    .main {
        background: #fff;
        height: 64px;
        display: flex;
        align-items: center;
    }
    
    .blog-wrap {
        display: none;
    }
    
    .mob-blog-wrap.revs.slick-initialized.slick-slider.slick-dotted {
        display: block!important;
        margin: 0;
    }
    
    .arrow-bls {
        display:
        flex;
        justify-content: end;
        margin: 10px 0 0 0;
    }
    
    .blog-is {
        width: 365px;
        margin:0 0 10px 0;
        background: #fff;
        border-radius: 15px;
    }
    
    .text-blog {
        padding: 5px 10px 25px 0px;
        width: 244px;
        margin: 0 auto;
    }
    
    .mob-blog-wrap {
        display:block;
    }
    
    .slid-img img {
        width: 321px;
        height: auto;
    }
    
    .slid-bl.responsives button.slick-prev.slick-arrow {
        left: 0px;
        z-index: 99999;
        background: url(../images/arrow-l.svg)left top no-repeat;
        width: 45px;
        cursor: pointer;
        height: 45px;
        z-index: 999999;
    }
    
    .slid-bl.responsives button.slick-next.slick-arrow {
        right: 0px;
        background: url(../images/arrow-r.svg) right top no-repeat;
        width: 45px;
        height: 45px;
        cursor: pointer;
        z-index: 999999;
    }
    
    span.label-wrap.is2 {
        width: 50%;
    }
    
    span.label-wrap {
        width: 45%;
    }
    
    span.label-wrap.is {
        width: 60%;
    }
      
    }
    
    /* Galaxy*/ 
    @media screen and (max-width: 415px) {

    ul.pagin-bl:after {
    right: 0;
}

ul.pagin-bl:before {
    left: 0;
}
      
    }
    
    
    /* Iphone 6.7.8 */ 
    @media screen and (max-width: 375px) {
    
    .slid-img img {
        width: 300px;
        height: auto;
    }
    
    .slid-bl.responsives button.slick-prev.slick-arrow {
        left: 7px;
        z-index: 99999;
        background: url(../images/arrow-l.svg)left top no-repeat;
        width: 45px;
        cursor: pointer;
        height: 45px;
        z-index: 999999;
    }
    
    .slid-bl.responsives button.slick-next.slick-arrow {
        right: -5px;
        background: url(../images/arrow-r.svg)left top no-repeat;
        width: 45px;
        height: 45px;
        cursor: pointer;
        z-index: 999999;
    }
        
    span.label-wrap.is2 {
        width: 45%;
    }
    
    }
    
    /* Iphone 5.5SE */ 
    @media screen and (max-width: 320px) {

nav.mob ul li {
    width: 48%;
    margin: 0px 5px 0 0;
}
    
    .slid-bl.responsives button.slick-prev.slick-arrow {
        left:0;
        z-index: 99999;
        background: url(../images/arrow-l.svg)left top no-repeat;
        width: 45px;
        cursor: pointer;
        height: 45px;
        z-index: 999999;
    }
    
    .slid-bl.responsives button.slick-next.slick-arrow {
        right:0;
        background: url(../images/arrow-r.svg)left top no-repeat;
        width: 45px;
        height: 45px;
        cursor: pointer;
        z-index: 999999;
    }
    .slid-img img {
        width: 250px;
        height: auto;
    }   
    .advant-is {
        align-items: center;
        margin: 0 0 45px;
        width: 45%;
    }
    
    .container.is2 {
        max-width: 100%;
        margin: 0;
    }
    
    }